
:root{
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

    --white: 0 0% 100%;

    --clr-light: 231 77% 90%;
}

.bg-white { background-color: hsl( var(--white) );}



.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 


.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.white-color{
    color: hsl(var(--white));
}

.light-color{
    color: hsl(var(--clr-light));
}

body{
    font-size: 0.9375rem;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
}


.home {
    background-image: url(../images/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.destination{
    background-image: url(../images/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.crew{
    background-image: url(../images/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.technology{
    background-image: url(../images/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler-icon{
    background-image: url("../images/shared/icon-hamburger.svg")
}

.btn-close{
    background-image: url("../images/shared/icon-close.svg")
}

.navbar{
    --bs-navbar-padding-y: 0rem;
}

.offcanvas{
    background: hsl( var(--white) / 0.05) !important;
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
}

.nav-item a{
    text-transform: uppercase;
    color: white;
}

.offcanvas-backdrop{
    opacity: 0 !important;
}

.navbar-nav{
    gap: 30px
}

.nav-item:hover{
    border-bottom: 2px solid #ffffff69;
}

.nav-link:hover{
    color: white;
}

.nav-link.active{
    color: white !important;
}

/* 
.active:hover{
    color: white;
} */

/* .nav-item:has(> a.active):hover {
    border-bottom: none;
} */


.letter-spacing-1{
    letter-spacing: 4.75px;
}

.large-btn{
    font-size: 2rem;
    text-decoration: none;
    padding: 0 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-grid;
    position: relative;
    place-items: center;
    aspect-ratio: 1;
}

.large-btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl( var(--white) / .1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: opacity 500ms linear, transform 750ms ease-in-out;

}

.large-btn:hover::after,
.large-btn:focus::after {
    opacity: 1;
    transform: scale(1.5);
}




/*
    Destination Styles
*/

.title--destination span{
    color: #ffffff69;
    margin-right: 10px;
}

.title--destination{
    letter-spacing: 3px;
}

.tab-list{
    list-style: none;
}

.tab-item{
    padding: 5px 0px;
}

.tab-item a{
    text-decoration: none;
    color: hsl(var(--clr-light));
    letter-spacing: 2px;
}

.tab-item:has(> a.active) {
    border-bottom: 2px solid white;
}

a.active{
    color: white;
}

.tab-item:hover{
    border-bottom: 2px solid #ffffff69;
}

.line-divid{
    color: #ffffff69;
}

/*
    Crew Styles
*/

.container-grid, .container-grid-tech{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 80%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    display: grid;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-areas: "title"
                         "image"
                         "tabs"
                         "content";
}

.title--crew{
    grid-area: title;
    margin: 0 auto;
}

.title--crew{
    color: white;
}

.img--crew{
    grid-area: image;
    border-bottom: 1px solid #404040;
}

.dot{
    background-color: gray;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.dot:hover{
    background-color: #c0c0c0;
}

.content{
    grid-area: content;
}

.content h4{
    color: #808080;
}

.dot.active{
    background-color: white;
}

.tech-dot{
    background-color: #80808000;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    color: white;
}

.tech-dot.active{
    background-color: white;
    color: black;
}

.img-fluid{
    width: 100%;
    height: 100% !important;
}

@media screen and (min-width: 576px) {
    .home{
        background-image: url(../images/home/background-home-tablet.jpg);
    }
    
    .destination{
        background-image: url(../images/destination/background-destination-tablet.jpg);
    }

    .navbar-expand-sm .offcanvas{
        background-color: hsl( var(--white) / 0.05) !important;
        backdrop-filter: blur(1.5rem);
        -webkit-backdrop-filter: blur(1.5rem);
    }

    .offcanvas{
        max-width: 70%;
    }

    .nav-item:has(> a.active) {
        border-bottom: 2px solid white;
    }

    .nav-item span{
        font-weight: bolder;
        margin-right: 5px;
    }
    
    .line{
        border: 1px solid white;
        width: 20%;
        z-index: 100;
        margin-right: -50px;
    }

    .large-btn{
        font-size: 3rem;
    }

    .title--destination{
        font-size: 1.25rem;
    }

    .crew{
        background-image: url(../images/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .technology{
        background-image: url(../images/technology/background-technology-tablet.jpg);
    }

    .container-grid{
        grid-template-areas: "title"
                             "content"
                             "tabs"
                             "image";
    }


}

@media screen and (max-width: 576px) {
    .offcanvas-end{
        max-width: 250px;
    }
}

@media screen and (min-width: 768px) {
    .home{
        background-image: url(../images/home/background-home-desktop.jpg);
    }

    .destination{
        background-image: url(../images/destination/background-destination-desktop.jpg);
    }
    .crew{
        background-image: url(../images/crew/background-crew-desktop.jpg);
    }
    .technology{
        background-image: url(../images/technology/background-technology-desktop.jpg);
    }
    .container-grid{
        width: 70%;
        justify-items: start;
        grid-template-areas: "title title"
                             "content image"
                             "tabs image";
    }

    .container-grid-tech{
        width: 90%;
        grid-template-areas: "title title image"
                             "tabs content image"
                             "tabs content image";
    }

    .img-fluid#vehicle-image{
        content: url(../images/technology/image-launch-vehicle-portrait.jpg);
    }

    .img-fluid#spaceport-image{
        content: url(../images/technology/image-spaceport-portrait.jpg);
    }

    .img-fluid#capsule-image{
        content: url(../images/technology/image-space-capsule-portrait.jpg);
    }
}

@media screen and (min-width: 992px) {
    .offcanvas{
        max-width: 60%;
    }

    .line{
        width: 30%;
    }
    
    .title--destination{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .offcanvas{
        max-width: 50%;
    }

    .line{
        width: 45%;
    }
}

