/* variables */

:root{
    --main-color: hsl(30, 38%, 92%);
    --cyn : hsl(158, 36%, 37%);
    --vary-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(225, 10%, 8%);
    --White: hsl(0, 0%, 100%);
}

html{
    box-sizing: border-box;
}

*,::after,::before{
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

body{
    background-color: var(--main-color);
    max-height: 100vh;
    font-size: 14px;
}

.grid{
    max-width: 300px;
    margin: auto auto;
}

.rounded{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rounded-image{
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.product{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.product-image img{
    width: 100%;
}

.product-details{
    padding: 20px;
}

.product-details h3{
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 5px 0;
    color: var(--Dark-grayish-blue);
}

.product-details h1{
    font-family: Fraunces;
    font-weight: 700;
    padding: 10px 0;
    font-size: 2rem;
}

.product-details p{
    font-family: Montserrat;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}

.product-details .price{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 0;
}

.product-details .price h4{
    font-size: 1.2em;
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
}

.product-details .price h1{
    color: var(--cyn);
}

.cart-btn{
    text-decoration: none;
    background-color: var(--cyn);
    padding: 15px 40px;
    display: block;
    text-align: center;
    color: var(--White);
    font-size: 1.3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (min-width: 960px) {
    
    .grid{
        display: flex;
        align-items: center;
        align-content: center;
        min-height: 100vh;
        max-width: 500px;
    }
    
    .product{
        flex-direction: row;
        margin: 0;
        max-height: 500px;
    }
    
    .product-image{
        min-width: 50%;
    }
    
    .product-image img {
        content:url("../images/image-product-desktop.jpg");
        height: 100%;
    }

    .rounded-image{
        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -ms-border-radius: 10px 0 0 10px;
        -o-border-radius: 10px 0 0 10px;
    }
    /* .product{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column: 3/7;
        margin-top: 150px;
        justify-content: center;
    }
    


    .product-image{
        width: 100%;
        grid-column: span 2;
    }
    
    .product-image img{
        content:url("../images/image-product-desktop.jpg");
        height: 100%;
    }

    */
    .product-details{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    } 
}