html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    font-family: Outfit;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.main-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.qr-code{
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 15px 15px 17px 1px rgba(144,144,144,0.1);

}

@media (max-width: 375px){
    .qr-code{
        width: 80%;
    }
}

.image{
    margin: 0 auto;
}

.image img{
    max-width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.texting{
    max-width: 90%;
    margin: 5% auto;
    padding: 5px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 700;
}

.texting .title{
    margin-bottom: 5%;
}

p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(212deg 14% 68%);
}